.card {
    /* width: auto; */
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    /* display: inline; */

}

.card-header {
    text-align :center;

}

.col-sm-2{
    margin-left: 100px;
}

.dynamic-list li {
    color: red;
    font-size: 10px;
}

#pro2 li {
    font-size: 20px;
    list-style: none;
}

#time li {
    font-size: 20px;
    list-style: none;
}

/* #pro2 li {
    font-size: 20px;
    list-style: none;
}

#pro2 li {
    font-size: 20px;
    list-style: none;
} */

#asd {
    display: none;
}

#btnn {
    margin-left: 40px;
    margin-top: 30px;
    
}

#parar {
    display: none;
}

.book {
    display: none;
}

.countdown {
   display: inline;
   color: red;
   
}